* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: blue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square {
  width: 50px;
  height: 50px;

  border-radius: 0;

  font-size: 150%;
}
